<h1>Template Driven Form</h1>
<form #studentForm="ngForm" (ngSubmit)="display(studentForm.value)">
    <h3>
        First Name:<input type="text" name="fname" ngModel><br>
        Last Name:<input type="text" name="lname" ngModel><br>
        Emp Age:<input type="number" name="eage" ngModel><br>
        Technologies:<select name="tech" value="tech" ngModel>
            <option value="">--Select--</option>
            <option value="Java">Java</option>
            <option value="C++">C++</option>
            <option value="Angular">Angular</option>
        </select><br>
        <hr>
        <input type="submit" name="register" value="Register">
        <input type="reset" name="reset" value="Reset"> 
    </h3>
</form>
